@import 'variables';
@import 'app';

.app-container {
  width: 100%;
  min-height: 600px;
  margin-top: 3vh;
  max-width: 940px;
  max-height: 600px;
}

h1 {
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
  text-align: center;
  font-size: 1.13rem;
  font-weight: 700;
  margin-bottom: 1rem;

  .title {
    color: $Dark-grayish-cyan;
    display: block;
    letter-spacing: 5px;
  }
}
