@import 'variables';
@import 'reset';
@import 'app-container';

html {
  font-size: $font-size;
  box-sizing: inherit;
  background: $Light-grayish-cyan;
}

body {
  min-height: 100vh;
  @include flexCenter;
}
